.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #323264dc;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__content {
  background: #F5F5FA;
  -webkit-box-shadow: 0px 15px 80px rgba(40, 40, 86, 0.5);
          box-shadow: 0px 15px 80px rgba(40, 40, 86, 0.5);
  border-radius: 12px;
  padding: 30px;
  position: relative;
}

.popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup__form__h {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(45deg, #F0145A, #EF8080);
  margin-bottom: 30px;
}

.popup__form__name {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  height: 56px;
  padding: 15px;
  margin-bottom: 15px;
}
.popup__form__name::-webkit-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__name::-moz-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__name:-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__name::-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__name::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}

.popup__form__textarea {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  resize: none;
  width: 570px;
  height: 130px;
  padding: 15px;
  margin-bottom: 30px;
}
.popup__form__textarea::-webkit-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__textarea::-moz-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__textarea:-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__textarea::-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__textarea::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}

.popup__form__answer {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
  margin-bottom: 15px;
}

.popup__form__tell {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  padding: 15px;
  height: 56px;
  margin-bottom: 15px;
}
.popup__form__tell::-webkit-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__tell::-moz-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__tell:-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__tell::-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__tell::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}

.popup__form__email {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 30px;
  padding: 15px;
  height: 56px;
}
.popup__form__email::-webkit-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__email::-moz-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__email:-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__email::-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__email::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}

.popup__form__button {
  background: #24A3FF;
  -webkit-box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
          box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  padding: 18px 0;
  font-family: "Montserrat";
  letter-spacing: 1px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.popup__close {
  position: absolute;
  right: 30px;
}
.popup__close:hover svg {
  background-color: #E6E6F0;
  border-radius: 8px;
}