@import "reset.scss";
@import "header.scss";
@import "main.scss";
@import "footer.scss";
@import "popup.scss";
@font-face {
    font-family: "Montserrat";
    src: url(../fons/Montserrat-VariableFont_wght.ttf);
}

.fix-size {
    margin: 0 auto;
    max-width: 1320px;
}

@import "adaptation.scss";


