.header {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px; 
}
.header__shadow {
    background: #CACADB;
    border-radius: 0px 0px 12px 12px;
    height: 10px;
    margin: 0 20px;
} 
.header__boxshadow {
    background: #E7E7F2;
    border-radius: 0px 0px 12px 12px;
    height: 10px;
    margin: 0 40px;
}

.header__hlegal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 65px;
}

.header__hlegal__image{
    display: flex;
    align-items: center;
    .header__image__slash {
        width: 21px;
        position: relative;
        top: -7px;
    }
    p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 44px;
        color: #FFFFFF;
        position: relative;
        top: -10px;
    }
}


.header__hlegal__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    a:hover {
        color: #F0145A;
        text-decoration: underline;
    }
    svg:hover {
        path {
            fill: #F0145A;
        }
    }
}

.header__hlegal__contacts__mobile {
    display: none;
}

.header__hlegal__contact__listbox {
    display: flex;
    align-items: center;
}

.header__hlegal__image__mobile {
    display: none;
}

.header__hlegal__contacts__list {
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    padding: 7px 0;
    button {
        background-color: rgba(245, 222, 179, 0);
        margin: 7px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 1px;
        color: #FFFFFF;
        &:hover {
            margin: 0;
            background: #948b8ea4;
            border-radius: 8px;
            padding: 5px 7px;
        }
        &:focus {
            margin: 0;
            background: #F0145A;
            border-radius: 8px;
            padding: 5px 7px;
        }
    }
    .header__hlegal__contacts__listbox__adress{
        font-family: "Montserrat";
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        color: #FFFFFF;
    }
    .header__hlegal__contacts__listbox__link {
        font-family: "Montserrat";
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        color: #FFFFFF;
    }
    .dote {
        padding: 0 6px;
    }
}

.first__box__hover {
    li:first-child:hover {
        box-shadow: none;
    }
}

.second__box__hover {
    a:hover {
        color: #F0145A;
        text-decoration: underline;
    }
}

.list__second {
    .header__hlegal__contacts__listbox {
        margin-left: 15px;
    }
}

.header__legal {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
    padding: 243px 25px 330px 19px;
    width: 800px;
    margin: -6px auto;
}

.header__scroll {
    padding-bottom: 30px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    button {
        background-color: #323264;
    }
    .svg_hover:hover {
        circle {
            stroke: #F0145A;
        }
        path {
            stroke: #F0145A;
        }
    }
}


.header__consistent {
    width: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    .header__consistent__row__listbox {
        list-style: none;
        padding: 15px 0;
        width: 375px;
        :last-child{
            margin: 0;
        }
        li:first-child {
            a {
                color: transparent;    
                -webkit-background-clip: text;
                background-clip: text;
                background-image: linear-gradient(20deg,#EF8080, #F0145A);
            }
            a:hover {
                color: #F0145A;
            }
        }
        a:hover {
            color: #F0145A;
        }
    }
    .hr-line {
        background: rgba(255, 255, 255, 0.3);
        width: 4px;
        height: 303px;
        margin: 0px 60px;
    }
    .header__consistent__row__list {
        font-family: "Montserrat";
        font-style: normal;
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 38px;
        line-height: 46px;
        text-align: right;
    }
    .header__consistent__row__list__link {
        color: #B3B3BA;
    }
}

.header__consistent__row__bigtext {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    padding-bottom: 30px;
}

.header__consistent__row__text {
    font-family: "Montserrat";
    font-size: 19px;
    line-height: 30px;
    color: #FFFFFF;
    width: 581px;
}

.header__link__services {
    display: flex;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
    margin-bottom: 10px;
    p {
        padding-right: 5px;
    }
}

.header__link {
    display: inline-block;
    :hover {
        color: #F0145A;
        path {
            stroke: #F0145A;;
        }
    }
}

.header__what {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    color: transparent;    
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(20deg, #F0145A, #EF8080);
}

.header__cardbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0;
    .header__cardbox__card {
        width: 400px;
        height: 321px;
        margin: 30px 0;
        img {
            margin-bottom: 30px;
        }
        .header__cardbox__card__h {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 27px;
            color: #24A3FF;
            margin-bottom: 15px;
            width: 330px;
            a{
                color: #24A3FF;
                &:hover {
                    color: #F0145A;
                } 
            }
        }
        .header__cardbox__card__text {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: #FFFFFF;
        }
    }
}


