* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
}

.header__shadow {
  background: #CACADB;
  border-radius: 0px 0px 12px 12px;
  height: 10px;
  margin: 0 20px;
}

.header__boxshadow {
  background: #E7E7F2;
  border-radius: 0px 0px 12px 12px;
  height: 10px;
  margin: 0 40px;
}

.header__hlegal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  margin-bottom: 65px;
}

.header__hlegal__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__hlegal__image .header__image__slash {
  width: 21px;
  position: relative;
  top: -7px;
}
.header__hlegal__image p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  position: relative;
  top: -10px;
}

.header__hlegal__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__hlegal__contacts a:hover {
  color: #F0145A;
  text-decoration: underline;
}
.header__hlegal__contacts svg:hover path {
  fill: #F0145A;
}

.header__hlegal__contacts__mobile {
  display: none;
}

.header__hlegal__contact__listbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__hlegal__image__mobile {
  display: none;
}

.header__hlegal__contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 7px 0;
}
.header__hlegal__contacts__list button {
  background-color: rgba(245, 222, 179, 0);
  margin: 7px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
}
.header__hlegal__contacts__list button:hover {
  margin: 0;
  background: #948b8ea4;
  border-radius: 8px;
  padding: 5px 7px;
}
.header__hlegal__contacts__list button:focus {
  margin: 0;
  background: #F0145A;
  border-radius: 8px;
  padding: 5px 7px;
}
.header__hlegal__contacts__list .header__hlegal__contacts__listbox__adress {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #FFFFFF;
}
.header__hlegal__contacts__list .header__hlegal__contacts__listbox__link {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #FFFFFF;
}
.header__hlegal__contacts__list .dote {
  padding: 0 6px;
}

.first__box__hover li:first-child:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.second__box__hover a:hover {
  color: #F0145A;
  text-decoration: underline;
}

.list__second .header__hlegal__contacts__listbox {
  margin-left: 15px;
}

.header__legal {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: #FFFFFF;
  padding: 243px 25px 330px 19px;
  width: 800px;
  margin: -6px auto;
}

.header__scroll {
  padding-bottom: 30px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__scroll button {
  background-color: #323264;
}
.header__scroll .svg_hover:hover circle {
  stroke: #F0145A;
}
.header__scroll .svg_hover:hover path {
  stroke: #F0145A;
}

.header__consistent {
  width: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}
.header__consistent .header__consistent__row__listbox {
  list-style: none;
  padding: 15px 0;
  width: 375px;
}
.header__consistent .header__consistent__row__listbox :last-child {
  margin: 0;
}
.header__consistent .header__consistent__row__listbox li:first-child a {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(20deg, #EF8080, #F0145A);
}
.header__consistent .header__consistent__row__listbox li:first-child a:hover {
  color: #F0145A;
}
.header__consistent .header__consistent__row__listbox a:hover {
  color: #F0145A;
}
.header__consistent .hr-line {
  background: rgba(255, 255, 255, 0.3);
  width: 4px;
  height: 303px;
  margin: 0px 60px;
}
.header__consistent .header__consistent__row__list {
  font-family: "Montserrat";
  font-style: normal;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-align: right;
}
.header__consistent .header__consistent__row__list__link {
  color: #B3B3BA;
}

.header__consistent__row__bigtext {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #FFFFFF;
  padding-bottom: 30px;
}

.header__consistent__row__text {
  font-family: "Montserrat";
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
  width: 581px;
}

.header__link__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  margin-bottom: 10px;
}
.header__link__services p {
  padding-right: 5px;
}

.header__link {
  display: inline-block;
}
.header__link :hover {
  color: #F0145A;
}
.header__link :hover path {
  stroke: #F0145A;
}

.header__what {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(20deg, #F0145A, #EF8080);
}

.header__cardbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 0;
}
.header__cardbox .header__cardbox__card {
  width: 400px;
  height: 321px;
  margin: 30px 0;
}
.header__cardbox .header__cardbox__card img {
  margin-bottom: 30px;
}
.header__cardbox .header__cardbox__card .header__cardbox__card__h {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #24A3FF;
  margin-bottom: 15px;
  width: 330px;
}
.header__cardbox .header__cardbox__card .header__cardbox__card__h a {
  color: #24A3FF;
}
.header__cardbox .header__cardbox__card .header__cardbox__card__h a:hover {
  color: #F0145A;
}
.header__cardbox .header__cardbox__card .header__cardbox__card__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

main {
  padding: 60px 0 0 0;
}

.main__team {
  background: #F5F5FA;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  margin-bottom: 30px;
  padding: 0px;
  height: 344px;
  position: relative;
  overflow: hidden;
}
.main__team .main__team__image {
  margin-right: 30px;
}
.main__team .main__team__image img {
  width: 400px;
}

.main__team__quotes {
  width: 860px;
}
.main__team__quotes .main__link {
  margin-bottom: 5px;
}
.main__team__quotes .main__team__quotes__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  margin-bottom: 30px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(100deg, #F0145A, #EF8080);
}
.main__team__quotes .main__team__quotes__name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
  margin-bottom: 6px;
}
.main__team__quotes .main__team__quotes__status {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
  margin-bottom: 6px;
}

.main__link {
  display: inline-block;
}
.main__link :hover {
  color: #F0145A;
}
.main__link :hover path {
  stroke: #F0145A;
}

.main__dotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 78px;
  margin-bottom: 60px;
}
.main__dotes button {
  background-color: #fff;
}

.main__trust {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  margin-bottom: 30px;
}

.main__imagebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1440px;
  margin: 0 auto;
}

.main__what {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(20deg, #F0145A, #EF8080);
  margin-bottom: 30px;
}

.main__background {
  background: #F5F5FA;
}
.main__background .fix-size {
  padding: 30px 0;
}

.main__cardbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.main__cardbox__card {
  width: 420px;
  height: 450px;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
}
.main__cardbox__card .main__cardbox__card__fix-size {
  width: 360px;
  margin: 0 auto;
}

.main__cardbox__card__equity {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  width: 340px;
  color: #24A3FF;
  margin-bottom: 15px;
}

.main__cardbox__card__image {
  height: 200px;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}
.main__cardbox__card__image img {
  width: 420px;
  position: absolute;
  top: -23px;
}

.main__cardbox__card__date {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
  margin-bottom: 15px;
}

.main__cardbox__br {
  display: none;
}

.main__hr-line {
  background: #E6E6F0;
  height: 4px;
  margin-bottom: 15px;
}

.main__cardbox__card__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

.main__background__hr-line {
  background: #E6E6F0;
  height: 2px;
}

.main__background__svg {
  display: inline-block;
}
.main__background__svg :hover {
  color: #F0145A;
}
.main__background__svg :hover path {
  stroke: #F0145A;
}

.footer {
  background: #F5F5FA;
}

.footer__contacts {
  padding: 30px 0;
}

.footer__contacts__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 21px;
}

.footer__contacts__adress__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__contacts__adress__map :hover {
  color: #24A3FF;
}

.footer__contacts__adress__map__city {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}

.footer__contacts__adress__map__location {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  padding: 3px 0;
}

.map__hover:hover a {
  color: #0b6cb1;
}

.footer__contacts__adress__company {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #B3B3BA;
}

.company__hover:hover a {
  color: #0b6cb1;
}

.footer__contacts__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__contacts__links img {
  margin: 0 10px;
}
.footer__contacts__links a img {
  margin: 0;
}

.footer__contacts__links .footer__contacts__links__number:hover {
  color: #24A3FF;
}
.footer__contacts__links .footer__contacts__links__email:hover {
  color: #0b6cb1;
}

.footer__contacts__links__number {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #46466E;
}

.footer__contacts__links__email {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
}

.footer__contacts__adress__map img {
  margin: 0 10px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #323264dc;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__content {
  background: #F5F5FA;
  -webkit-box-shadow: 0px 15px 80px rgba(40, 40, 86, 0.5);
          box-shadow: 0px 15px 80px rgba(40, 40, 86, 0.5);
  border-radius: 12px;
  padding: 30px;
  position: relative;
}

.popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.popup__form input:focus-visible {
  -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 255, 0.2);
          box-shadow: 0px 0px 10px 4px rgba(0, 0, 255, 0.2);
}
.popup__form textarea:focus-visible {
  -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 255, 0.2);
          box-shadow: 0px 0px 10px 4px rgba(0, 0, 255, 0.2);
}
.popup__form button:active {
  -webkit-box-shadow: 0px 0px 10px 4px rgba(31, 137, 213, 0.5);
          box-shadow: 0px 0px 10px 4px rgba(31, 137, 213, 0.5);
}

.popup__form__h {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(45deg, #F0145A, #EF8080);
  margin-bottom: 30px;
}

.popup__form__name {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  height: 56px;
  padding: 15px;
  margin-bottom: 15px;
}
.popup__form__name::-webkit-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__name::-moz-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__name:-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__name::-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__name::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}

.popup__form__textarea {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  resize: none;
  width: 570px;
  height: 130px;
  padding: 15px;
  margin-bottom: 30px;
}
.popup__form__textarea::-webkit-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__textarea::-moz-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__textarea:-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__textarea::-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__textarea::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}

.popup__form__answer {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
  margin-bottom: 15px;
}

.popup__form__tell {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  padding: 15px;
  height: 56px;
  margin-bottom: 15px;
}
.popup__form__tell::-webkit-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__tell::-moz-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__tell:-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__tell::-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__tell::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}

.popup__form__email {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 30px;
  padding: 15px;
  height: 56px;
}
.popup__form__email::-webkit-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__email::-moz-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__email:-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__email::-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}
.popup__form__email::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #B3B3BA;
}

.popup__form__button {
  background: #24A3FF;
  -webkit-box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
          box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  padding: 18px 0;
  font-family: "Montserrat";
  letter-spacing: 1px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.popup__close {
  position: absolute;
  right: 30px;
}
.popup__close:hover svg {
  background-color: #E6E6F0;
  border-radius: 8px;
}

.popup__burger {
  position: fixed;
  min-width: 100%;
  height: 100%;
  background: #323264d7;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.popup__burger:target {
  opacity: 1;
  visibility: visible;
}

.popup__burger__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__burger__content {
  background: #F5F5FA;
  -webkit-box-shadow: 0px 15px 80px rgba(40, 40, 86, 0.5);
          box-shadow: 0px 15px 80px rgba(40, 40, 86, 0.5);
  border-radius: 12px;
  padding: 30px;
  position: relative;
}
.popup__burger__content .popup__close {
  position: absolute;
  right: 5px;
  top: 5px;
}

.popup__listbox {
  height: 300px;
  width: 200px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__content__list {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  display: block;
  width: 100%;
}
.popup__content__list a {
  color: #24A3FF;
  display: block;
  padding: 5px;
}
.popup__content__list a:hover {
  background: #E6E6F0;
  border-radius: 12px;
}
.popup__content__list a:focus {
  color: #F0145A;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fons/Montserrat-VariableFont_wght.ttf);
}
.fix-size {
  margin: 0 auto;
  max-width: 1320px;
}

@media (min-width: 1920px) {
  .fix-size {
    max-width: 1600px;
  }

  .header__consistent__row__text {
    width: 861px;
  }

  .header__cardbox .header__cardbox__card {
    width: 493px;
  }

  .header__legal {
    padding: 331px 25px 435px 19px;
  }

  .main__team {
    padding: 0;
    height: 298px;
  }
  .main__team img {
    width: 400px;
  }

  .main__team__quotes {
    width: 1140px;
  }

  .main__team__quotes__text br:first-child {
    display: none;
  }

  .main__imagebox {
    width: 1720px;
    height: 430px;
    margin: 0 auto 60px auto;
    border-radius: 12px;
    overflow: hidden;
  }
  .main__imagebox img {
    width: 430px;
  }

  .main__cardbox__card .main__cardbox__card__fix-size {
    width: 453px;
    margin: 0 auto;
  }

  .main__cardbox__card {
    width: 513px;
    height: 430px;
  }
  .main__cardbox__card p {
    width: auto;
  }
  .main__cardbox__card p br {
    display: inline;
  }

  .main__cardbox__card__image img {
    width: 513px;
    position: absolute;
    top: -50px;
  }

  .main__cardbox__card__image {
    margin-bottom: 30px;
    height: 200px;
    overflow: hidden;
    position: relative;
  }

  .header__cardbox .header__cardbox__card .header__cardbox__card__h {
    width: 380px;
  }
}
@media (max-width: 1440px) {
  .fix-size {
    max-width: 904px;
  }

  .main__team__quotes {
    width: auto;
  }

  .header__consistent__row__text {
    width: 405px;
  }

  .main__team {
    height: auto;
  }

  .header__cardbox .header__cardbox__card {
    width: 261px;
    height: 400px;
  }

  .main__team__image {
    margin-right: 30px;
    width: 1240px;
    overflow: hidden;
  }
  .main__team__image img {
    position: relative;
    height: 528px;
    left: -60px;
  }

  .main__team .main__team__image img {
    width: 528px;
  }

  .main__imagebox img {
    width: 256px;
  }

  .main__imagebox {
    margin: 0 auto;
    width: 1024px;
  }

  .main__cardbox__card__image {
    margin-bottom: 0;
  }
  .main__cardbox__card__image img {
    left: -25px;
    width: 330px;
    position: absolute;
  }

  .main__cardbox__card__equity {
    width: auto;
  }

  .main__cardbox__card .main__cardbox__card__fix-size {
    width: 221px;
  }

  .main__cardbox__card {
    width: 281px;
    height: 556px;
  }

  .header__cardbox .header__cardbox__card .header__cardbox__card__h {
    width: 240px;
  }
}
@media (max-width: 1024px) {
  .fix-size {
    max-width: 648px;
  }

  .header__hlegal {
    padding-top: 35px;
  }

  .header__hlegal__contacts__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    position: static;
    left: -170px;
  }
  .header__hlegal__contacts__list:first-child {
    padding-bottom: 100px;
  }

  .list__second .header__hlegal__contacts__listbox:first-child {
    margin-left: 0;
  }

  .header__legal {
    padding: 288px 162px 410px 0px;
  }

  .header__consistent .hr-line {
    width: 648px;
    height: 4px;
    margin-bottom: 60px;
  }

  .header__consistent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 60px;
  }

  .header {
    overflow: hidden;
  }

  .header__consistent .header__consistent__row__listbox {
    list-style: none;
    padding: 15px 0;
    width: 640px;
    display: -webkit-box;
  }

  .header__consistent .header__consistent__row__list {
    margin-right: 40px;
  }

  .header__consistent__row__text {
    width: 648px;
  }

  .header__cardbox .header__cardbox__card {
    width: 290px;
    height: 400px;
  }

  .header__cardbox .header__cardbox__card .header__cardbox__card__h {
    width: auto;
  }

  .main__team {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main__team__image {
    height: 500px;
    margin: 0 auto;
  }

  .main__team .main__team__image img {
    width: 648px;
    height: auto;
    left: 0px;
    top: -90px;
  }

  .main__imagebox {
    margin: auto;
    width: auto;
  }

  .main__team__quotes {
    width: auto;
    padding: 30px;
  }

  .main__cardbox__card__image img {
    left: -25px;
    width: auto;
    top: 0px;
    height: 204px;
    position: relative;
  }

  .main__cardbox__card {
    width: 309px;
  }

  .main__cardbox {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .main__cardbox__card__image {
    margin-bottom: 30px;
  }

  .main__cardbox__card .main__cardbox__card__fix-size {
    width: 249px;
  }

  .main__card__people {
    margin: 0 auto;
    margin-top: 30px;
    width: 648px;
    height: auto;
  }
  .main__card__people img {
    top: -90px;
    height: auto;
    width: 648px;
  }
  .main__card__people .main__cardbox__card__fix-size {
    width: 588px;
    padding-bottom: 30px;
  }

  .footer__contacts__adress__map img {
    margin: 0 10px;
  }

  .header__hlegal__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
  }
}
@media (max-width: 648px) {
  .fix-size {
    max-width: 315px;
  }

  .second__box__hover {
    display: none;
  }

  .header__hlegal__contacts__list {
    left: 0;
  }

  .header__hlegal__contacts__list:first-child {
    padding: 10px 15px;
  }

  .header__hlegal {
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 60px;
  }

  .header__hlegal__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: static;
  }

  .header__hlegal__contacts {
    margin-bottom: 15px;
    display: none;
  }

  .header__hlegal__contacts__mobile {
    position: absolute;
    width: 100%;
    top: 0px;
    background: rgba(245, 245, 250, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .first__box__hover {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .first__box__hover li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .first__box__hover li:last-child {
    display: none;
  }
  .first__box__hover img {
    display: none;
  }
  .first__box__hover .header__hlegal__contacts__listbox__adress {
    display: none;
  }

  .header__hlegal {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    margin-left: -12px;
  }

  .header__hlegal__image img {
    width: 69px;
  }
  .header__hlegal__image .header__image__slash {
    display: none;
  }
  .header__hlegal__image p {
    display: none;
  }

  .header__legal {
    padding: 146px 102px 170px 0px;
    width: 400px;
  }

  .header__scroll {
    margin-bottom: 0;
  }

  .header__consistent .hr-line {
    width: 315px;
    margin-bottom: 30px;
  }

  .header__consistent .header__consistent__row__listbox {
    position: relative;
    left: 160px;
    margin-bottom: -20px;
  }
  .header__consistent .header__consistent__row__listbox li {
    font-size: 30px;
  }

  .header__consistent__row__bigtext {
    font-size: 20px;
  }

  .header__consistent__row__text {
    width: 301px;
  }

  .header__consistent {
    margin-bottom: 30px;
  }

  .header__what {
    font-size: 30px;
  }

  .header__cardbox {
    padding: 0;
  }

  .header__cardbox .header__cardbox__card {
    width: 316px;
    height: auto;
  }
  .header__cardbox .header__cardbox__card:last-child {
    margin-bottom: 60px;
  }

  .main__team .main__team__image img {
    width: auto;
    height: 500px;
    left: -90px;
    top: 0;
  }

  .main__team__quotes .main__team__quotes__text {
    font-size: 30px;
  }

  .main__team__quotes__text br {
    display: none;
  }

  .main__imagebox img {
    width: 364px;
  }

  .main__what {
    font-size: 30px;
    width: 270px;
    line-height: 37px;
  }

  .main__cardbox__card {
    width: 315px;
    height: auto;
    margin-bottom: 30px;
  }

  .main__cardbox__card__text {
    padding-bottom: 30px;
  }

  .main__cardbox__card .main__cardbox__card__fix-size {
    width: 249px;
  }

  .main__card__people .main__cardbox__card__fix-size {
    padding-bottom: 0;
  }

  .main__card__people img {
    top: 0;
    width: auto;
    height: 204px;
  }

  .main__cardbox {
    margin-bottom: 0;
  }

  .footer__contacts .footer__dot {
    display: none;
  }

  .footer__contacts__adress {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__contacts__adress__map {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__contacts__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 98px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 35px;
  }

  .header__hlegal__image__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 328px;
    position: relative;
    top: -3px;
    left: 3px;
  }
  .header__hlegal__image__mobile p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 156px;
  }
  .header__hlegal__image__mobile svg:hover {
    cursor: pointer;
  }
  .header__hlegal__image__mobile svg:hover circle {
    stroke: #F0145A;
  }
  .header__hlegal__image__mobile svg:hover path {
    stroke: #F0145A;
  }

  .footer__contacts__adress__company {
    position: relative;
    bottom: -140px;
  }

  .footer__contacts__adress {
    margin-bottom: 0;
  }

  .footer__contacts__adress__map__city {
    margin-bottom: 10px;
  }

  .main__imagebox {
    height: 728px;
    overflow: hidden;
  }

  .popup__content {
    width: 396px;
  }

  .popup__form__textarea {
    width: auto;
  }

  .popup__content {
    border-radius: 0;
    height: 670px;
  }

  .popup__form__h {
    width: 310px;
  }
}